<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThuVienJack"
        tools:targetApi="31">
        <activity
            android:name=".ActivityF"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Author.HomeAuthorUserActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="Author.DetailAuthorUser"
            android:exported="false" />
        <activity
            android:name="Author.UpdateAuthorActivity"
            android:exported="false" />
        <activity
            android:name="Author.DetailAuthorActivity"
            android:exported="false" />
        <activity
            android:name="Author.HomeAuthorActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="Author.UploadAuthorActivity"
            android:exported="true" />
        <activity
            android:name=".ListBorrowActivity"
            android:exported="false" />
        <activity
            android:name=".DetailBookUserActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".ProductBookUserActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileAdminActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateBookActivity"
            android:exported="false" />
        <activity
            android:name=".DetailBookActivity"
            android:exported="false" />
        <activity
            android:name=".UploadBookActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>